@using System.Net.Http
@using System.Net.Http.Json
@using KetCRM.BlazorClient.Models.Manager
@using KetCRM.BlazorClient.Services.Manager
@inject HttpClient Http
@inject IManagerService managerService;

@{
if(loading)
{
<div class="d-flex justify-content-center mt-4">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
}
else
{

<UpdateModal @ref="updateModal"></UpdateModal>
<DeleteUserModal @ref="deleteUserModal"></DeleteUserModal>

<div id="datatable" class="datatable">
    <div class="datatable-inner table-responsive ps" style="overflow: auto; position: relative;">
        <table class="table datatable-table">
            <thead class="datatable-header">
                <tr>

                    <th style="cursor: pointer;" scope="col">Логин</th>
                    <th style="cursor: pointer;" scope="col">Почта</th>
                    <th style="cursor: pointer;" scope="col">Роль</th>
                    <th style="cursor: pointer;" scope="col">Фамилия</th>
                    <th style="cursor: pointer;" scope="col">Имя</th>
                    <th style="cursor: pointer;" scope="col">Отчество</th>
                    <th style="cursor: pointer;" scope="col">Последний логин</th>
                    <th style="cursor: pointer;" scope="col"></th>
                </tr>
            </thead>
            <tbody class="datatable-body">
                @{

                foreach (var item in userList.Lists)
                {
                <tr @key="item.Login" scope="row" data-mdb-index="0">
                    <td data-mdb-field="field_1" false="">@item.Login</td>
                    <td data-mdb-field="field_2" false="">@item.Email</td>
                    <td data-mdb-field="field_3" false="">@item.Roles</td>
                    <td data-mdb-field="field_1" false="">@item.Surname</td>
                    <td data-mdb-field="field_2" false="">@item.Name</td>
                    <td data-mdb-field="field_3" false="">@item.Patronymic</td>
                    <td data-mdb-field="field_4" false="">@item.LastLogin</td>
                    <td data-mdb-field="field_5 mx-auto" false="">
                        <a @onclick="() => updateModal.Open(item.Login)" class="link-dark h6 modal-link-a"><i class="fas fa-user-edit" data-mdb-toggle="modal"
                                Data-mdb-target="#updateModal"></i></a>
                        <span class="m-2"></span>
                        <a @onclick="() => deleteUserModal.Open(item.Login)" class="link-dark h6 modal-link-a"><i class="fas fa-trash " data-mdb-toggle="modal"
                                data-mdb-target="#trashModal"></i></a>
                    </td>
                </tr>
                }
                }
            </tbody>
        </table>
        <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
            <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
        </div>
        <div class="ps__rail-y" style="top: 0px; right: 0px;">
            <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
        </div>
    </div>
    @if(show){
        <UpdateModal name=@name></UpdateModal>
    }
</div>
}
}

@code{
    private UpdateModal updateModal { get; set; }
    private DeleteUserModal deleteUserModal { get; set; }
    private UserListModel userList;
    private bool loading;
    private string name;
    private bool show = false;
    protected override async Task OnInitializedAsync()
    {
        loading = true;
        userList = await managerService.GetAllUser();
        loading = false;
    }

    private async Task UpdateClick(string name)
    {
        this.name = name;
        show = true;
    }
}